<html>
<head>
    <title>Hello Handlebars</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h5> {{name}}!</h5>

<a href="/github/login">Github</a>
</body>
</html>